body {
  background-color: $primary-bg-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $title-text-color-light-theme;
  &.modal-open {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
